body {
    margin: 0;
    padding: 30px 0 0 0; /* Adds some spacing from the top of the site */
  }
  .header, .main-content {
    width: 55%; /* Adjusts the width to 1/3 of the parent element */
    margin-left: 10%; /* Adds some spacing from the left side of the page */
    color: #333; /* A softer black for the text */
  }
  h2, h3 {
    font-weight: normal; /* Removes bold styling */
  }
  a {
    text-decoration: none; /* Removes underline from links */
  }
  a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
  }
  